- name: Fish Shell
  block:
    - name: Fish - Create config directory
      ansible.builtin.file:
        path: "{{ xdg_config_home }}/fish"
        state: directory
      register: fish_config_dir_result

    - name: Fish - Write config
      ansible.builtin.copy:
        src: files/fish/config.fish
        dest: "{{ fish_config_dir_result.path }}/config.fish"

    - name: Fish - Write functions
      ansible.builtin.copy:
        src: "{{ item }}"
        dest: "{{ fish_config_dir_result.path }}/functions/"
      with_fileglob:
        - files/fish/functions/*
  tags:
    - fish

- name: bat
  block:
    - name: bat - Create config directory
      ansible.builtin.file:
        path: "{{ xdg_config_home }}/bat"
        state: directory
      register: bat_config_dir_result

    - name: bat - Write config
      ansible.builtin.copy:
        src: files/bat/config
        dest: "{{ bat_config_dir_result.path }}/config"
  tags:
    - bat

- name: Ghostty
  block:
    - name: Ghostty - Create config directory
      ansible.builtin.file:
        path: "{{ xdg_config_home }}/ghostty"
        state: directory
      register: ghostty_config_dir_result

    - name: Ghostty - Write config
      ansible.builtin.copy:
        src: files/ghostty/config
        dest: "{{ ghostty_config_dir_result.path }}/config"
  tags:
    - ghostty
